
#popupMadLibs, #popupMurmur, #popupDage, #popupKoupler {
  height: 600px;
  width: 80%;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #cecece;
  z-index: 15;
  padding: 20px;
  color: #000;
  -webkit-box-shadow: 0px 0px 4px #000 inset;
  -moz-box-shadow: 0px 0px 4px #000 inset;
  box-shadow: 0px 0px 4px #000 inset;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  margin-top: -50px;
  visibility: hidden;
  font-family: 'Avenir', 'sans-serif';
}
#popupMadLibs p, #popupMurmur p, #popupDage p, #popupKoupler p {
  padding-left: 10px;
  font-size: 16px;
  line-height: 24px;
}
#popupMadLibsClose, #popupMurmurClose, #popupDageClose, #popupKouplerClose {
  right: 0;
  top: 15px;
  position: absolute;
  display: block;
  opacity: 0.5;
  -webkit-transition:all .25s linear;
  -moz-transition:all .25s linear;
  -o-transition:all .25s linear;
  -ms-transition:all .25s linear;
  transition:all .25s linear;
}
#popupMadLibsClose:hover, #popupMurmurClose:hover, #popupDageClose:hover, #popupKouplerClose:hover {
  opacity: 1;
  -webkit-transition:all .25s linear;
  -moz-transition:all .25s linear;
  -o-transition:all .25s linear;
  -ms-transition:all .25s linear;
  transition:all .25s linear;
}
article{
  left:-60px;
}
h5{
  font-family: 'Avenir';
  font-weight: 300;
}
a{
  cursor: pointer;
}
#popupMadLibsClose {
  margin-right: 1%;
  position: absolute;
}
#popupDageClose{
  margin-right: 1%;
}
#popupKouplerClose{
  margin-right: 1%;
}
#popupMurmurClose{
  margin-right: 1%;
}
#bar{
  color: black;
}